#include <stdio.h>
#include <stdbool.h>

{% for fsm_name, fsm in fsms.items() %}
typedef enum {
    {% for node in fsm.nodes %}
    {{ node.label | upper }},
    {% endfor %}
} {{ fsm_name }}_State;

static {{ fsm_name }}_State {{ fsm_name }}_current_state = {{ fsm.nodes[0].label | upper }};

{% endfor %}

{% for fsm_name, fsm in fsms.items() %}
void {{ fsm_name }}_step();
{% endfor %}

{% for fsm_name, fsm in fsms.items() %}
void {{ fsm_name }}_step() {
    switch ({{ fsm_name }}_current_state) {
        {% for node in fsm.nodes %}
        case {{ node.label | upper }}:
            {% if node.description %}
            {{ node.description | indent(12) }}
            {% else %}
            {% endif %}

            {% for edge in fsm.edges if edge.source == node.id %}
            if (/* condition pour {{ edge.label or "transition" }} */) {
                {{ fsm_name }}_current_state = {{ (fsm.nodes | selectattr("id", "equalto", edge.target) | first).label | upper }};
                {% if (fsm.nodes | selectattr("id", "equalto", edge.target) | first).description %}
                {{ (fsm.nodes | selectattr("id", "equalto", edge.target) | first).description | indent(16) }}
                {% endif %}
                break;
            }
            {% endfor %}
            break;
        {% endfor %}
    }
}
{% endfor %}

int main() {
    while (true) {
        {% for fsm_name in fsms %}
        {{ fsm_name }}_step();
        {% endfor %}
    }

    return 0;
}
